
@{
    ViewBag.Title = "Ayuda";
}

<br /><br />
      <head>
          <link rel="stylesheet" href="~/Content/Empresas.css" />
      </head>

<h2 class="text-center">AYUDA</h2>
<br />

<div class="container-fluid">
    <div class="row align-items-center wrapper">
        <div class="col-lg-10 col-md-10 ">

            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header " id="flush-headingOne">
                        <button style="background-color:#e9e9e9" class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <h5 class="wrapper"> ¿Qué es DenunciasOnline?</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            DenunciasOnline es una plataforma que se apoya en dos pilares: <br />
                            1) Brindar la posibilidad de realizar denuncias ante una fiscalía a aquellas personas que han sido víctimas de un ciberdelito.<br />
                            2) Brindar la información de contacto oficial y de sorteos sobre las empresas y organizaciones que operan en Argentina.

                        </div>
                    </div>
                </div>


                <div class="accordion-item mt-2">
                    <h2 class="accordion-header " id="flush-heading4">
                        <button style="background-color:#e9e9e9" class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                            <h5 class="wrapper"> ¿Cómo realizo una denuncia?</h5>
                        </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Si fuiste víctima de un delito informático, podrás realizar la denuncia del hecho ante la fiscalía con la que opera DenunciasOnline.
                            Sólo deberás registrarte como usuario en el apartado "ACCESO" > "Registrarse". <br />
                            Una vez que te hayas registrado como usuario, deberás completar tus datos en la sección "MI CUENTA" > "ACTUALIZAR DATOS",
                            luego de haber actualizado tus datos, volvé a tu escritorio y elegí la opción "REALIZAR NUEVA DENUNCIA", aquí deberás completar
                            el motivo de la denuncia y la descripción de los hechos, a su vez tendrás la posibilidad de adjuntar como pruebas dos imágenes
                            y un archivo .PDF. <br />
                            Una vez completados los campos presioná "CONFIRMAR", se enviará un correo electrónico a tu dirección con la confirmación de
                            la denuncia y se generará un comprobante en formato .pdf que podrás descargar en ese momento.


                        </div>
                    </div>
                </div>

                <div class="accordion-item mt-2">
                    <h2 class="accordion-header " id="flush-heading5">
                        <button style="background-color:#e9e9e9" class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                            <h5 class="wrapper"> ¿Cómo hago el seguimiento de mi denuncia?</h5>
                        </button>
                    </h2>
                    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Para saber el estado de tu denuncia es muy importante que chequees los mensajes que te enviará la fiscalia. Para ello ingresá
                            en tu cuenta, opción "MIS DENUNCIAS", presioná el botón de visualización de tu denuncia y luego presiona "MENSAJES".
                        </div>
                    </div>
                </div>


                <div class="accordion-item mt-2">
                    <h2 class="accordion-header " id="flush-headingTwo">
                        <button style="background-color:#e9e9e9" class=" accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <h5 class="wrapper">¿Cómo obtengo la información de las empresas de mi interés?</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Es muy simple, en la página principal de DenunciasOnline, ingresá en el campo "BUSCAR" la empresa de la cual querés obtener información.
                            Si existe alguna empresa registrada que coincida con los criterios de tu búsqueda aparecerá como resultado.
                        </div>
                    </div>
                </div>

                <div class="accordion-item mt-2">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button style="background-color:#e9e9e9" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <h5 class="wrapper">¿Que información sobre empresas puedo ver?</h5>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            La información que se brinda es:<br />
                            1) CUIT <br />
                            2) Razón Social <br />
                            3) Nombre Comercial o Marca <br />
                            4) Página Web Oficial <br />
                            5) Teléfonos, Emails y Redes Sociales Oficiales <br />
                            6) Información sobre sorteos y sus ganadores.


                        </div>
                    </div>
                </div>

                <div class="accordion-item mt-2">
                    <h2 class="accordion-header " id="flush-heading6">
                        <button style="background-color:#e9e9e9" class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                            <h5 class="wrapper">Soy Empresa ¿Cómo obtengo mi verificación?</h5>
                        </button>
                    </h2>
                    <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Primero deberás registrarte en ACCESO > REGISTRARSE, completá los datos y elegí "Empresa" en "Registrarse Como". <br />
                            Luego, cuando ingreses por primera vez a tu cuenta, deberás completar tus datos en "MI CUENTA" > "ACTUALIZAR DATOS EMPRESA". <br />
                            A su vez, deberás completar los datos oficiales de contacto.<br />
                            Una vez completado todo lo anterior, deberás enviar por correo postal la documentación solicitada en "MI CUENTA" > "VERIFICAR EMPRESA." <br />

                            Finalmente, el equipo de DenunciasOnline verificará tu empresa cuando envies la documentación solicitada y corrobore que todos los datos son correctos y no hay falsedad en ellos.

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br />