
@{
    ViewBag.Title = "Consejos Whatsapp";
}

<br /><br />

<h3 class="text-center gris">Consejos de la UFECI para evitar maniobras que toman<br /> el control de las cuentas de WhatsApp</h3>

<div class="container-fluid wrapper">
    <div class="row col-10 ">
        <p class="p-4 ">

            Mediante engaños, los atacantes logran hacerse con los códigos que la plataforma le envía por SMS a los usuarios legítimos. De esa forma activan la cuenta en un nuevo dispositivo y concretan diversos delitos haciéndose pasar por las víctimas.
            <br /><br />


            <span style="font-size:200%;">L</span>a Unidad Fiscal Especializada en Ciberdelincuencia (UFECI), a cargo del fiscal Horacio Azzolín, advierte sobre maniobras que tienen por objeto tomar el control de las cuentas de WhatsApp de las víctimas.
            Siempre que se crea una cuenta de WhatsApp o se activa una ya existente en un nuevo dispositivo, la plataforma, para verificar que se trate del legítimo usuario de la línea telefónica, exige que se ingrese un código proveído en el acto a través de un mensaje SMS.
            Según indicó la UFECI, se han constatado casos en los que los atacantes contactan a sus víctimas, ya sea mediante el envío de mensajes directos o dentro de los grupos de WhatsApp de los que forma parte, y las persuaden, mediante engaños –por ejemplo, compartiendo capturas de pantalla de mensajes de ese tipo, insinuando que serían falsos y preguntando si alguien más los estaría recibiendo-, para que suministren el referido código o capturas de pantalla del mismo, una vez que lo reciban. Tras ello, llevan a cabo los sucesivos pasos para activar la cuenta ajena en un nuevo dispositivo y, una vez que la víctima recibe el código y lo comparte, completan el procedimiento.
            Finalmente, los atacantes adoptan ciertas medidas para que la víctima no pueda recuperar su cuenta por un tiempo -solicitando en reiteradas oportunidades el envío del referido código de verificación, hasta que dicho proceso se bloquea por algunas horas, o activando la verificación en dos pasos-, lo que les brinda cierto margen para poder concretar nuevas maniobras delictivas, aprovechando la posibilidad de hacerse pasar por el usuario afectado.

            <br /><br />
            <span class="fw-bold">Algunas recomendaciones para no ser víctima de maniobras de este tipo o similares:</span>
            <br />

            - Activá la función de “verificación en dos pasos” ingresando para ello, desde la aplicación, a la sección “Cuenta”, ubicada dentro de la sección “Ajustes” o "Configuración" -dependiendo del modelo de dispositivo-.
            <br />
            - En caso de recibir un mensaje en el que se brinde un código de verificación, evitá compartirlo con terceros por cualquier medio.
            <br />
            - Recordá que la plataforma no le solicita información a sus usuarios por medio de mensajes -SMS, WhatsApp u otros servicios de mensajería- ni a través de llamadas telefónicas.
            <br />
            - Si recibís un mensaje de WhatsApp proveniente de un abonado telefónico desconocido, es aconsejable bloquear y reportar al usuario a través de las opciones que aparecerán en pantalla.
            <br />
            - Verificá habitualmente en qué dispositivos se encuentran abiertas sesiones de WhatsApp Web, y evitá abrir sesiones en dispositivos de uso compartido.
            <br />
            - En caso de ser víctima de una maniobra de este tipo, informáselo rápidamente a tus contactos y denunciá lo ocurrido.

        </p>
    </div>
</div>


