
@{
    ViewBag.Title = "Consejos Redes Sociales";
}

<br /><br />

<h3 class="text-center gris">Consejos de la Unidad Fiscal Especializada en Ciberdelincuencia <br /> para prevenir ataques a cuentas de redes sociales</h3>

<div class="container-fluid wrapper">
    <div class="row col-10 ">
        <p class="p-4 ">

            Ante una serie de reportes sobre vulneraciones a cuentas de Instagram y Facebook, principalmente, la unidad especializada del MPF recuerda las medidas de seguridad sugeridas para evitar ser víctima de delitos.
            <br /><br />


            <span style="font-size:200%;">L</span>a Unidad Fiscal Especializada en Ciberdelincuencia (UFECI) recibió una serie de reportes de ataques a cuentas de redes sociales -40 en los últimos tres meses-, en especial de Instagram y Facebook, que trae como resultado para los usuarios la pérdida del control sobre ellas. El modo en el que se accedió en forma indebida no ha sido clarificada, pero las víctimas niegan haber entregado sus datos (usuario y contraseña) bajo engaño. Por eso, la unidad del Ministerio Público Fiscal estima que en esos casos la actividad en línea ha sido monitoreada de alguna manera.
            Luego, en muchas ocasiones, el atacante se comunica con los contactos del usuario, haciéndose pasar por él, para pedirles dinero o enviarles material inapropiado. Otras veces, en particular en Instagram, el agresor toma control de la cuenta, elimina su contenido y luego la vende en base al número de seguidores.
            Cuentas de Instagram usadas por profesionales, con miles de seguidores, han sido especialmente atacadas en los últimos días en nuestro país, aunque hay casos así alrededor del mundo y es una modalidad que lleva años.
            Un testimonio real fue dado aquí por Sol, una joven que sufrió el robo de las contraseñas para acceder a sus casillas de correo electrónico y sus redes sociales y denunció el delito en la UFECI, a cargo de Horacio Azzolín.

            <br /><br />
            <span class="fw-bold">Medidas de prevención sugeridas por la UFECI</span>
            <br />

            Ante ese escenario, la UFECI recuerda que la mejor forma de protegerse es incrementando las medidas de seguridad de las cuentas. Tomarse el tiempo de hacerlo ahora puede ahorrar un disgusto en el futuro.
            <br />
            Consejos:
            <br />
            1) Contraseñas robustas, aquellas que son fáciles de recordar pero difíciles de adivinar. En lo posible con muchos caracteres, combinando mayúsculas y minúsculas, letras, números y caracteres especiales. Las contraseñas no deberían tener datos personales como nombres de familiares, fechas de cumpleaños, etc. que pueden obtenerse fácilmente y no deberían repetirse en otras plataformas. Cambiarla regularmente añade más protección aún. Para cambiar la contraseña debe visitarse la sección de seguridad de la cuenta, en la parte de configuración.
            <br />
            2) Doble factor de autenticación o verificación en dos pasos, que añade una capa más de seguridad al pedirnos un código aleatorio luego de poner nuestra contraseña. Ese código podemos recibirlo por mensaje de texto o por un generador de códigos. Además, podemos guardar en un lugar seguro (usualmente, el dispositivo de otra persona) una serie de códigos que podemos usar para acceder a la cuenta si no podemos recibir el código aleatorio. Para activar la verificación en dos pasos puede visitarse también la sección de seguridad de la cuenta, y los generadores de códigos pueden descargarse de la tienda de aplicaciones.
            <br />
            3) Conexiones seguras, usando sólo redes conocidas y evitando aquellas que pueden ser monitoreadas, especialmente las públicas.
            <br />
            4) Dispositivos seguros, con sistemas operativos y antivirus actualizados
            <br />
            5) Navegación segura, evitando abrir enlaces o adjuntos de origen desconocido y que pueden llegar por correos electrónicos o servicios de mensajería
            <br />
            6) Además, monitoreando los emails con alertas de inicio de sesión o de intento de recuperar la contraseña, que suelen llegar a la casilla asociada.
            <br />
            Los consejos de seguridad para Instagram pueden consultarse <a target="_blank" href="https://www.facebook.com/help/instagram/368191326593075/?helpref=hc_fnav&bc[0]=Ayuda%20de%20Instagram&bc[1]=Centro%20de%20privacidad%20y%20seguridad&bc[2]=Reportar%20algo">aquí</a>.
            <br />
            Los de Facebook, <a target="_blank" href="https://www.facebook.com/help/122006714548814?helpref=popular_topics">acá</a>.


            <br /><br />

            <span class="fw-bold"> Twitter y Whatsapp</span>
            <br />
            La UFECI también recibió reportes similares sobre cuentas de Twitter y WhatsApp, muy vulneradas especialmente entre adolescentes. 
            <br />Los consejos anteriores aplican a ambas plataformas. La información de seguridad de Twitter puede consultarse en <a target="_blank" href="https://help.twitter.com/es/safety-and-security">https://help.twitter.com/es/safety-and-security</a> 
            y la de WhatsApp en <a target="_blank" href="https://faq.whatsapp.com/26000245/?lang=es">https://faq.whatsapp.com/26000245/?lang=es</a>
            <br /><br />
            <span class="fw-bold">Cuentas vulneradas</span>
            <br />
            Adicionalmente, si la cuenta es vulnerada, hay mecanismos administrativos <a href="https://www.facebook.com/help/instagram/149494825257596?helpref=related">dentro de Instagram</a> y <a href="https://www.facebook.com/help/203305893040179/?ref=u2u">de Facebook</a>
            Es muy probable que se solicite una prueba de identidad y cierta evidencia del control de la cuenta. Para ese caso, haber descargado previamente la información de la cuenta puede ser de mucha utilidad. Esto puede hacerse tanto en Facebook, como en Instagram. Pero también en WhatsApp y en Twitter
            Conservar capturas de pantalla de las cuentas también puede ser una medida preventiva para el proceso de recuperación.

        </p>
    </div>
</div>


