
@{
    ViewBag.Title = "Consejos Cuentas Bancarias";
}

<br /><br />

      <h3 class="text-center gris">Coronavirus: recomendaciones de la UFECI para evitar el robo de datos <br /> personales, cuentas y claves bancarias durante el aislamiento</h3>

<div class="container-fluid wrapper">
    <div class="row col-10 ">
        <p class="p-4 ">

            <span style="font-size:200%;">L</span>a Unidad Fiscal Especializada en Ciberdelincuencia (UFECI) a cargo de Horacio Azzolín elaboró una serie de
            recomendaciones para operar de manera segura en Internet, redes sociales y sistemas de mensajería y así evitar el robo de datos personales, cuentas y
            claves bancarias durante el aislamiento social preventivo y obligatorio que rige en el país. El área especializada del Ministerio Público Fiscal también
            advirtió sobre la circulación de información engañosa tendiente a  causar daños y/o generar confusión en los usuarios.

            <br /><br />
            <span class="fw-bold">Así, la UFECI alerta sobre:</span>
            <br />
            - El envío de correos electrónicos falsos de bancos; el montaje de páginas web fraudulentas; la distribución de aplicaciones en celulares destinadas a causar daños y cadenas de WhatsApp con información de origen dudoso por los cuales se intenta robar datos personales, generar alarma en la población o entorpecer las comunicaciones.
            <br />
            - Ofertas o promociones falsas de productos de primera necesidad  como alcohol en gel, lavandina y/o desinfectantes.

            <br /><br />

            <span class="fw-bold"> Recomendaciones para evitar ser víctima</span>
            <br />
            - Datos personales y redes sociales: ignorar los mensajes que lleguen por canales no oficiales, en especial aquellos que indiquen que la cuenta se bloqueó, que se debe compartir la contraseña o códigos de verificación. El aviso de bloqueo o actividad inusual de una cuenta sólo llega al correo indicado al momento de la registración, y no por teléfono -llamadas o sms- o por servicios de mensajería.
            <br /><br />
            - Cuentas bancarias: si recibís un supuesto correo oficial de una entidad indicando que tu cuenta o tarjeta se bloqueó, la UFECI recomienda  ignorarlo y, en especial, no seguir el enlace proporcionado. si tenés dudas, consultá a tu tarjeta de crédito o banco por los canaeles que estén habilitados en ese momento (aplicación, web o atención telefónica)
            <br /><br />
            - Home Office: si trabajás en casa, asegurate de tener conexiones y equipos seguros. Proteger la red con contraseñas adecuadas -combinando letras, números y caracteres especiales- y los equipos usando software original y antivirus actualizados. En casos de tráfico de información sensible, asesorarse con especialistas para su cifrado.
            <br /><br />
            - Noticias falsas: Circula mucha información por mensajería y redes sociales y no toda es verdadera. Ante dudas sobre la autenticidad de la fuente, chequearla antes de compartirla. En muchas ocasiones, quienes distribuyen ese contenido quieren infundir temor o alarmar a la sociedad.

        </p>
    </div>
</div>

