@model IEnumerable<PS_TUP.TelefonosEmpresas>


@{
    ViewBag.Title = "Teléfonos";
    PS_TUP.Models.TipoEmpresa.Empresas empresa = (PS_TUP.Models.TipoEmpresa.Empresas)ViewBag.empresa;
}

@{

    var items = empresa;
}

<head>
    <link rel="stylesheet" href="~/Content/Empresas.css" />
</head>

<h2 class="text-center p-5 text-uppercase">Teléfonos de Contacto de @items.nombreComercial </h2>

<div class="row justify-content-center ">
    <div class="col-md-8" >
        <table class="table table-striped table-hover tbl-container bdr" >
            <tbody >
                <tr>
                    <th>
                        <label>DESCRIPCIÓN</label>
                    </th>

                    <th>
                        <label>NÚMERO</label>
                    </th>

                </tr>


                @foreach (var item in Model)
                {
                    <tr class="">
                        <td class="align-middle ">
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>

                        <td class="align-middle ">
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>



                    </tr>
                }
            </tbody>
        </table>

        <br />
        <div class="text-center">
            <a href="@Url.Action("DetalleEmpresa", "Home", new {@idEmpresa= items.idEmpresa})" class="btn btn-light p-4 underlineHover "> < Regresar </a>
        </div>


    </div>
</div>

<br /><br /><br /><br /><br />