@model PS_TUP.MailsEmpresas

@{
    ViewBag.Title = "Borrar";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/VentanasModal.css" />
</head>

<h3>¿Está seguro/a que desea borrar el e-mail?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            <label class="fw-bold">DESCRIPCIÓN</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            <label class="fw-bold">MAIL</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="">
            <input type="submit" value="Borrar" class="btn btn-primary mt-3 ms-0" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
